extend layout
block content 
    .container
        h2= article.title
        h6 Written by : #{article.author}
        p= article.body

        a.btn.btn-secondary(href="/article/edit/" + article._id) Edit
