doctype html 
html
    head
        title Knowledge Base
        link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    body 
        header
            nav.navbar.navbar-expand-md.navbar-dark.bg-dark
                a.navbar-brand(href='/') KnowledgeBase
                #navbarCollapse.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                    a.nav-link(href='/') Home 
                    li.nav-item
                    a.nav-link(href='/article/add') Add Article

        .container
            block content
            br
            hr
            footer
                p Copyright &copy; 2019